head 
  include ../header/head
include ../header/main-bar
div.text-center.w-100
  div#sample
script(src='/scripts/d3-plot.js' type='text/javascript' nonce= hash)

//- script(type='text/javascript' nonce= hash)
//-   | const Plot = new WeatherPlot();
//-   | Plot.run();