title Data Visualization

link(rel="stylesheet" href="/styles/bootstrap/bootstrap.css")
link(rel="stylesheet" href="/styles/css/shapes.css")

script(src="/modules/react/react.development.js" nonce= nonce1)
script(src="/modules/react-dom/react-dom.development.js" nonce= nonce1)
script(src="/modules/chart.js/chart.umd.js" nonce= nonce1)
//- script(src="/modules/csv/index.js" nonce= nonce1)
script(src="/modules/csv/sync.js" nonce= nonce1)
//- script(src="/scripts/proc_csv.js" nonce= noce1)
//- script(src="/scripts/fetch_csv_data.js" type="module" nonce= noce1)