html
  head
    title= title
    link(rel='stylesheet' type='text/css' href='/bootstrap/bootstrap.min.css')
  body
    header 
      div Some Package Test Pages
    main
      //- div 
      //-   script(src='/dist/chart.js' nonce= nonce)
      div
        script(src='/dist/emoji.js' nonce= nonce)
      div#microphone 
        script(src='/dist/micInput.js' nonce= nonce)
      div
        script(src='/dist/crypto.js' nonce= nonce)