div.card.w-100.text-center
  div.card-body
    h1#hello.text-center.card-title= 'Weather Repot for Open Metro'
    p#author.card-subtitle.text-end
      span.fst-italic Yu TAKAHASHI
    p#last-update.card-subtitle.text-end
      = updated
    p#description.card-text= 'Weather Report Application using Open Metro weather Api'
