title= title
meta(charset='utf-8')
link(href='/images/shiba-puppy.svg' rel='icon' type='image/svg+xml')

meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='/styles/custom.css')
script(src='/d3/d3.js')