div.container-md.align-middle.fs-4
  div.row
    div#nav_top.col.fw-bold.pt-1.pb-1
      a(href='/')
        span.badge.bg-success TOP
    div#nav_sample.col.fw-bold.pt-1.pb-1
      a(href='/api/d3/sample')
        span.badge.bg-success D3SAMPLE
