doctype html
html(lang='ja')
  head
    include header/head    
  body.text-center
    header
      include header/main-bar
    div
      form#base-form(action='/api/d3' method='POST')
        div.container.w-75
          div.row.pt-2.pb-2
            fieldset.container.w-100
              div.row
                legend.col-6.fs-5 HOURS or DAYS
                div.col-2.text-start
                  input#hourly(type='radio' value='hourly' name='hours_days' checked)
                  label#hours_label.ps-2(for='hourly') Hours
                div.col-2.text-start
                  input#daily(type='radio' value='daily' name='hours_days')
                  label#days_label.ps-2(for='daily') Days
          div.row.p-2
            div.col
              label(for='selection') City
            div.col.text-start
              select#selection.w-50.h-100(name='city')
                each city in cities
                  option(value= city)= city
          div.row.p-2
            div.col
              label(for='start_date') Date Start
            div.col.text-start
              input#start_date.w-50(name='start_date' type='date' value= todayISO)
          div.row.p-2
            div.col
              label(for='end_date') Date End
            div.col.text-start
              input#end_date.w-50(name='end_date' type='date')
          div.row.p-2
            div.col.d-block
              button.btn.btn-primary.btn-lg(type='submit', id='DO', form='base-form', (click)='console.log("Hello")') GRAPH
    div
      //- include display/current
      include display/current-short