
body {
    border: 2px solid #6667ff;
}

h1 {
    text-shadow: 2px 2px 2px blue;
}

h1:active {
    text-shadow: 0px 0px 2px blue;
    color: #6667ff;
}

#hello:hover::after {
    content: ' It`s fanny';
    color: yellowgreen;
}

.grid-btn {
    box-shadow: 5px 5px 2px 0px #6667ff;
}

.form-box {
    width: 500px;
    height: 250px;
    background-color: #6667ff;
}

.input-box {
    width: 400px;
    height: 200px;
    margin: 0px;
    display: grid;
    align-items: center;
    background-color: #ff7666;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 50px);
}

.city-label {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.city-select{
    height: 50px;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}

.age-label {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.age-num {
    height: 40px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.grid-btn {
    width: 100px;
    height: 40px;
    border-radius: 50% 20%;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
